<footer>
<div class="container">
    <hr style="color: lightgray;">
    <div class="d-flex d-flex justify-content-between">
        <div class="copyrights">
            <p>&copy; 2023 Listen app. All rights reserved.    
        </div>
        <div class="socialmedia">
            <ul class="d-flex">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>

</footer>