<section class="about">
    <div class="container">
    <div class="row mb-5">
        <div class="col-lg-6 col-12">
            <span class=" d-inline-block">Music doesn't lie. If there is something to be</span>
           <span class="text-primary d-inline-block">changed in this world,</span>
           <span class="d-inline-block">then it can only happen through music.</span> 
        </div>
        <div class="col-lg-6 col-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-12">
<img src="../../assets/images/about.jpg" class="w-100" style="height: 564px;">    
    </div>
    <div class="col-lg-7 col-12">
<div class="aboutus-intro">
    <h1 class="d-inline-block text-primary p-0 mx-2">Our </h1> <span >Story</span>
</div>
<div class="aboutus-breif mb-5 pt-4">
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.    </p>
</div>
<div class="about-video">
    <iframe src="https://www.youtube.com/embed/7e90gBu4pas"  style="    width: 760px;
    height: 400px;" title="Working at Envato" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</div>
    </div>
    </div>
    </div>
</section>
<section class="plansteps">
    <div class="cotaniner">
    <div class="planstep-introtitle text-center">
        <h1 class="d-inline-block  p-0 mx-2">How it </h1> <span class="text-primary" >works?</span>
        <div class="row mt-5">
            <div class="col-lg-4 col-6">
<div class="step-item">
    <div class="step-icon icon1 ">
        <i class="fa fa-music"></i>
    </div>
    <div class="step-title pt-3">
        <h4>1. Register your email</h4>
    </div>
    <div class="step-breif text-center">
        <p>Quaerat facilis fuga accusantium ut velit ab ex quibusdam sint quos totam eaque officia molestiae id porro neque incidunt!                        </p>
    </div>
</div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="step-item icon2">
                    <div class="step-icon">
                        <i class="fa fa-music"></i>
                    </div>
                    <div class="step-title pt-3">
                        <h4>2. Select your plan
                        </h4>
                    </div>
                    <div class="step-breif text-center">
                        <p>Quaerat facilis fuga accusantium ut velit ab ex quibusdam sint quos totam eaque officia molestiae id porro neque incidunt!                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="step-item icon3">
                    <div class="step-icon">
                        <i class="fa fa-headphones"></i>
                    </div>
                    <div class="step-title pt-3">
                        <h4>3. Access unlimited music</h4>
                    </div>
                    <div class="step-breif text-center">
                        <p>Quaerat facilis fuga accusantium ut velit ab ex quibusdam sint quos totam eaque officia molestiae id porro neque incidunt!                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="Team text-center">
    <div  class="container">
<div class="team-introtitle">
    <h1 class="d-inline-block  p-0 ">Awesome  </h1> <span class="text-primary" >Team</span>
</div>
<div  class="team-introbreif">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab illo.    </p>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-lg-2 col-4">
        <div class="memmber">
<div class="memmber-image">
<img src="../../assets/images/user1.jpg">
</div>
<div class="memmber-name pt-3">
    <h5>Teri Dactyl</h5>

</div>
<div class="memmber-position">
    <p>Account manager</p>

</div>
<div class="memmber-socialmedia">
    <ul class="d-flex justify-content-center p-0">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </ul>
</div>
</div>
    </div>
    <div class="col-lg-2 col-4">
        <div class="memmber">
            <div class="memmber-image">
            <img src="../../assets/images/user2.jpg">
            </div>
            <div class="memmber-name pt-3">
                <h5>Aida Bugg
                </h5>
            </div>
            <div class="memmber-position">
                <p>Co-founder                </p>
            </div>
            <div class="memmber-socialmedia">
                <ul class="d-flex justify-content-center p-0">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            </div>
    </div>
    <div class="col-lg-2 col-4">
        <div class="memmber">
            <div class="memmber-image">
            <img src="../../assets/images/user3.jpg">
            </div>
            <div class="memmber-name pt-3">
                <h5>Olive Yew</h5>

            </div>
            <div class="memmber-position">
                <p>Co-founder                </p>
            </div>
            <div class="memmber-socialmedia">
                <ul class="d-flex justify-content-center p-0">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
                
            </div>
            </div>
    </div>
    <div class="col-lg-2 col-4">
        <div class="memmber">
            <div class="memmber-image">
            <img src="../../assets/images/user4.jpg">
            </div>
            <div class="memmber-name pt-3">
                <h5>Peg Legge
                </h5>
            </div>
            <div class="memmber-position">
                <p>Team leader</p>
            </div>
            <div class="memmber-socialmedia">
                <ul class="d-flex justify-content-center p-0">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            </div> 
    </div>
    <div class="col-lg-2 col-4">
        <div class="memmber">
            <div class="memmber-image">
            <img src="../../assets/images/user5.jpg">
            </div>
            <div class="memmber-name pt-3">
                <h5>Allie Grater                </h5>

            </div>
            <div class="memmber-position">
                <p>Business manager </p>
            </div>
            <div class="memmber-socialmedia">
                <ul class="d-flex justify-content-center p-0">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            </div> 
    </div>

</div>
    </div>
</section>



<section class="joinus text-center">
    <div class="container">
      <div class="joinus-box">
          <div class="joinustitle">
              <h1 class="d-inline-block txtwhite">Join with</h1> <span class="textblack mx-3">Listen app</span>
          </div>
          <div class="joinusbreif">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias explicabo harum perspiciatis voluptates sed ut.</p>
          </div>
          <div class="joinusdiscover">
            <button type="button" class="btn bg-white btn-lg mt-3 " style="width: 224px;"><a style="color: black;text-decoration: none;"  href="/Register">register</a></button>
  
          </div>
      </div>
    </div>  
  </section>
  <section class="store text-center">
      <div class="container">
          <div class="store-header mb-md-5 pb-sm-5 ">
             <h5 class="text-primary d-inline-block mx-2 ">Millions of songs</h5><h5 class="d-inline-block">that you access with your basic information.</h5>  
    <div class="store-items mt-4">
      <button type="button" class="btn bg-white btn-lg mt-3 " style="width: 180px;color: black;"><i class="fa fa-google-plus" aria-hidden="true"></i>
          Google Play</button>
      <button type="button" class="btn bg-white btn-lg mt-3 " style="width: 180px;color: black;"><i class="fa fa-apple" aria-hidden="true"></i>
          App Store</button>
  
    </div>
          </div>
      </div>
  </section>